In [1]:
# We'll need these modules!
import os
import requests
import json
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Warmup 0
# Did you hardcode the slashes in P10 rather than using os.path.join?
# It likely won't run on the grader. Check your code and check the autograder ASAP.
os.path.join("data", "cole.csv")

'data\\cole.csv'

In [3]:
# Warmup 1: Read the data from "new_movie_data.csv" into a pandas DataFrame called "movies"
movies = pd.read_csv("new_movie_data.csv")
movies

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,333.13
1,Prometheus,"Adventure,Mystery,Sci-Fi",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael ...",2012,124,7.0,126.46M
2,Split,"Horror,Thriller",M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,138.12M
3,Sing,"Animation,Comedy,Family",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,270.32
4,Suicide Squad,"Action,Adventure,Fantasy",David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,325.02
...,...,...,...,...,...,...,...,...
1063,Guardians of the Galaxy Vol. 2,"Action, Adventure, Comedy",James Gunn,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",2017,136,7.6,389.81
1064,Baby Driver,"Action, Crime, Drama",Edgar Wright,"Ansel Elgort, Jon Bernthal, Jon Hamm, Eiza Gon...",2017,113,7.6,107.83
1065,Only the Brave,"Action, Biography, Drama",Joseph Kosinski,"Josh Brolin, Miles Teller, Jeff Bridges, Jenni...",2017,134,7.6,18.34
1066,Incredibles 2,"Animation, Action, Adventure",Brad Bird,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",2018,118,7.6,608.58
1067,A Star Is Born,"Drama, Music, Romance",Bradley Cooper,"Lady Gaga, Bradley Cooper, Sam Elliott, Greg G...",2018,136,7.6,215.29

In [4]:
# Warmup 2: What years does this new movie dataset cover?
print(movies['Year'].min(), 'to', movies['Year'].max())

2006 to 2020

In [5]:
# Warmup 3a: What are the movies with the median rating?
median_movies = movies[movies['Rating'] == movies['Rating'].median()]
median_movies

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
38,The Magnificent Seven,"Action,Adventure,Western",Antoine Fuqua,"Denzel washington, Chris Pratt, Ethan Haw...",2016,132,6.9,93.38
195,Captain America: The First Avenger,"Action,Adventure,Sci-Fi",Joe Johnston,"Chris Evans, Hugo Weaving, Samuel L. Jackson,H...",2011,124,6.9,176.64M
222,It Follows,"Horror,Mystery",David Robert Mitchell,"Maika Monroe, Keir Gilchrist, Olivia Luccardi,...",2014,100,6.9,14.67
330,Storks,"Animation,Adventure,Comedy",Nicholas Stoller,"Andy Samberg, Katie Crown,Kelsey Grammer, Jenn...",2016,87,6.9,72.66
359,Step Brothers,Comedy,Adam McKay,"Will Ferrell, John C. Reilly, Mary Steenburgen...",2008,98,6.9,100.47M
366,American Wrestler: The Wizard,"Drama,Sport",Alex Ranarivelo,"William Fichtner, Jon Voight, Lia Marie Johnso...",2016,117,6.9,0
373,Florence Foster Jenkins,"Biography,Comedy,Drama",Stephen Frears,"Meryl Streep, Hugh Grant, Simon Helberg, Rebec...",2016,111,6.9,27.37
375,Black Mass,"Biography,Crime,Drama",Scott Cooper,"Johnny Depp, Benedict Cumberbatch, Dakota John...",2015,123,6.9,62.56
415,The Headhunter's Calling,Drama,Mark Williams,"Alison Brie, Gerard Butler, Willem Dafoe, Gret...",2016,108,6.9,0
466,Enemy,"Mystery,Thriller",Denis Villeneuve,"Jake Gyllenhaal, Mélanie Laurent, Sarah Gadon,...",2013,91,6.9,1.01
490,The Book of Eli,"Action,Adventure,Drama",Albert Hughes,"Denzel Washington, Mila Kunis, Ray Steve...",2010,118,6.9,94.82
516,Chappie,"Action,Crime,Drama",Neill Blomkamp,"Sharlto Copley, Dev Patel, Hugh Jackman,Sigour...",2015,120,6.9,31.57
529,A Good Year,"Comedy,Drama,Romance",Ridley Scott,"Russell Crowe, Abbie Cornish, Albert Finney, M...",2006,117,6.9,7.46
557,In the Heart of the Sea,"Action,Adventure,Biography",Ron Howard,"Chris Hemsworth, Cillian Murphy, Brendan Glees...",2015,122,6.9,24.99
606,Horrible Bosses,"Comedy,Crime",Seth Gordon,"Jason Bateman, Charlie Day, Jason Sudeikis, St...",2011,98,6.9,117.53M
616,Free State of Jones,"Action,Biography,Drama",Gary Ross,"Matthew McConaughey, Gugu Mbatha-Raw, Mahersha...",2016,139,6.9,0
660,The First Time,"Comedy,Drama,Romance",Jon Kasdan,"Dylan O'Brien, Britt Robertson, Victoria Justi...",2012,95,6.9,0.02
731,This Beautiful Fantastic,"Comedy,Drama,Fantasy",Simon Aboud,"Jessica Brown Findlay, Andrew Scott, Jeremy Ir...",2016,100,6.9,0
779,Unknown,"Action,Mystery,Thriller",Jaume Collet-Serra,"Liam Neeson, Diane Kruger, January Jones,Aidan...",2011,113,6.9,61.09
783,Before We Go,"Comedy,Drama,Romance",Chris Evans,"Chris Evans, Alice Eve, Emma Fitzpatrick, John...",2014,95,6.9,0.04
819,Suite Française,"Drama,Romance,War",Saul Dibb,"Michelle Williams, Kristin Scott Thomas, Margo...",2014,107,6.9,0
865,Indignation,"Drama,Romance",James Schamus,"Logan Lerman, Sarah Gadon, Tijuana Ricks, Sue ...",2016,110,6.9,3.4
866,The Stanford Prison Experiment,"Biography,Drama,History",Kyle Patrick Alvarez,"Ezra Miller, Tye Sheridan, Billy Crudup, Olivi...",2015,122,6.9,0.64
868,Mission: Impossible III,"Action,Adventure,Thriller",J.J. Abrams,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph...",2006,126,6.9,133.38M
875,Warm Bodies,"Comedy,Horror,Romance",Jonathan Levine,"Nicholas Hoult, Teresa Palmer, John Malkovich,...",2013,98,6.9,66.36
878,Shin Gojira,"Action,Adventure,Drama",Hideaki Anno,"Hiroki Hasegawa, Yutaka Takenouchi,Satomi Ishi...",2016,120,6.9,1.91
881,Rio,"Animation,Adventure,Comedy",Carlos Saldanha,"Jesse Eisenberg, Anne Hathaway, George Lopez,K...",2011,96,6.9,143.62M
905,Ocean's Thirteen,"Crime,Thriller",Steven Soderbergh,"George Clooney, Brad Pitt, Matt Damon,Michael ...",2007,122,6.9,117.14M
943,Triangle,"Fantasy,Mystery,Thriller",Christopher Smith,"Melissa George, Joshua McIvor, Jack Taylor,Mic...",2009,99,6.9,0
962,Custody,Drama,James Lapine,"Viola Davis, Hayden Panettiere, Catalina Sandi...",2016,104,6.9,0
969,Disturbia,"Drama,Mystery,Thriller",D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,80.05

In [6]:
# Warmup 3b: Of these, what was the average runtime?
median_movies["Runtime"].mean()

110.2258064516129

In [7]:
# Warmup 3c: ... and how does that compare to the average runtime of all movies?
movies["Runtime"].mean()

114.09363295880149

In [8]:
# Warmup 3d: ... and how does that compare to the average runtime of all Sport movies?
movies[movies["Genre"].str.contains("Sport")]["Runtime"].mean()

118.33333333333333

In [9]:
# Warmup 4a: What does this function do?
def format_revenue(revenue):
    if revenue[-1] == 'M': # some have an "M" at the end
        return float(revenue[:-1]) * 1e6
    else:                    # otherwise, assume millions.
        return float(revenue) * 1e6

In [10]:
# Warmup 4b: Using the above function, create a new column called
#            "CountableRevenue" with the revenue as a float.
movies["CountableRevenue"] = movies["Revenue"].apply(format_revenue)
movies

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue,CountableRevenue
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,333.13,333130000.0
1,Prometheus,"Adventure,Mystery,Sci-Fi",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael ...",2012,124,7.0,126.46M,126460000.0
2,Split,"Horror,Thriller",M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,138.12M,138120000.0
3,Sing,"Animation,Comedy,Family",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,270.32,270320000.0
4,Suicide Squad,"Action,Adventure,Fantasy",David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,325.02,325020000.0
...,...,...,...,...,...,...,...,...,...
1063,Guardians of the Galaxy Vol. 2,"Action, Adventure, Comedy",James Gunn,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",2017,136,7.6,389.81,389810000.0
1064,Baby Driver,"Action, Crime, Drama",Edgar Wright,"Ansel Elgort, Jon Bernthal, Jon Hamm, Eiza Gon...",2017,113,7.6,107.83,107830000.0
1065,Only the Brave,"Action, Biography, Drama",Joseph Kosinski,"Josh Brolin, Miles Teller, Jeff Bridges, Jenni...",2017,134,7.6,18.34,18340000.0
1066,Incredibles 2,"Animation, Action, Adventure",Brad Bird,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",2018,118,7.6,608.58,608580000.0
1067,A Star Is Born,"Drama, Music, Romance",Bradley Cooper,"Lady Gaga, Bradley Cooper, Sam Elliott, Greg G...",2018,136,7.6,215.29,215290000.0

In [11]:
# Warmup 5: What are the top 10 highest-revenue movies?
movies.sort_values(by="CountableRevenue", ascending=False).head(10)

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue,CountableRevenue
50,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Fantasy",J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2015,136,8.1,936.63,936630000.0
1006,Avengers: Endgame,"Action, Adventure, Drama",Anthony Russo,"Joe Russo, Robert Downey Jr., Chris Evans, Mar...",2019,181,8.4,858.37,858370000.0
87,Avatar,"Action,Adventure,Fantasy",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2009,162,7.8,760.51,760510000.0
1007,Avengers: Infinity War,"Action, Adventure, Sci-Fi",Anthony Russo,"Joe Russo, Robert Downey Jr., Chris Hemsworth,...",2018,149,8.4,678.82,678820000.0
85,Jurassic World,"Action,Adventure,Sci-Fi",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins,...",2015,124,7.0,652.18,652180000.0
76,The Avengers,"Action,Sci-Fi",Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,623.28,623280000.0
998,Hamilton,"Biography, Drama, History",Thomas Kail,"Lin-Manuel Miranda, Phillipa Soo, Leslie Odom ...",2020,160,8.6,612.82,612820000.0
1066,Incredibles 2,"Animation, Action, Adventure",Brad Bird,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",2018,118,7.6,608.58,608580000.0
54,The Dark Knight,"Action,Crime,Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,533.32,533320000.0
12,Rogue One,"Action,Adventure,Sci-Fi",Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,532.17,532170000.0

# Web 1 - How to get data from the 'Net

Core Ideas:
 - Network structure
     - Client/Server
     - Request/Response
 - HTTP protocol
     - URL
     - Headers
     - Status Codes
 - The requests module

## HTTP Status Codes overview
- 1XX : Informational
- 2XX : Successful
- 3XX : Redirection
- 4XX : Client Error
- 5XX : Server Error

https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

## requests.get : Simple string example
- URL: https://cs220.cs.wisc.edu/hello.txt

In [12]:
url = "https://cs220.cs.wisc.edu/hello.txt"
r = requests.get(url) # r is the response
print(r.status_code)
print(r.text)

200
Hello CS220 / CS319 students! Welcome to our website. Hope you are staying safe and healthy!

In [13]:
# Q: What if the web site does not exist?
typo_url = "https://cs220.cs.wisc.edu/hello.txttttt"
r = requests.get(typo_url)
print(r.status_code)
print(r.text)

# A: We get a 403 (client error)

403
<html>
<head><title>403 Forbidden</title></head>
<body>
<h1>403 Forbidden</h1>
<ul>
<li>Code: AccessDenied</li>
<li>Message: Access Denied</li>
<li>RequestId: 07YJ296B9R21R3Z1</li>
<li>HostId: ukRbAHURwMp537u4fprHN/lvhUM04PVNZlyQhTUWDbgcR0tyQEXrFzfQcQkVycivBcW1d3QblVg=</li>
</ul>
<h3>An Error Occurred While Attempting to Retrieve a Custom Error Document</h3>
<ul>
<li>Code: AccessDenied</li>
<li>Message: Access Denied</li>
</ul>
<hr/>
</body>
</html>

In [14]:
# We can check for a status_code error by using an assert
typo_url = "https://cs220.cs.wisc.edu/hello.txttttt"
r = requests.get(typo_url)
assert r.status_code == 200
print(r.status_code)
print(r.text)

AssertionError:

In [15]:
# Instead of using an assert, we often use raise_for_status()
r = requests.get(typo_url)
r.raise_for_status() #similar to asserting r.status_code == 200
r.text

# Note the error you get.... We will use this in the next cell

HTTPError: 403 Client Error: Forbidden for url: https://cs220.cs.wisc.edu/hello.txttttt

In [16]:
# Let's try to catch that error

try:
    r = requests.get(typo_url)
    r.raise_for_status() #similar to asserting r.status_code == 200
    r.text
except requests.HTTPError as e: # What's still wrong here?
    print("oops!!", e)

oops!! 403 Client Error: Forbidden for url: https://cs220.cs.wisc.edu/hello.txttttt

## requests.get : JSON file example
- URL: https://www.msyamkumar.com/scores.json
- `json.load` (FILE_OBJECT)
- `json.loads` (STRING)

In [17]:
# GETting a JSON file, the long way
url = "https://www.msyamkumar.com/scores.json"
r = requests.get(url)
r.raise_for_status()
urltext = r.text
print(urltext)
d = json.loads(urltext)
print(type(d), d)

{
  "alice": 100,
  "bob": 200,
  "cindy": 300
}

<class 'dict'> {'alice': 100, 'bob': 200, 'cindy': 300}

In [18]:
# GETting a JSON file, the shortcut way
url = "https://www.msyamkumar.com/scores.json"
#Shortcut to bypass using json.loads()
r = requests.get(url)
r.raise_for_status()
d2 = r.json()
print(type(d2), d2)

<class 'dict'> {'alice': 100, 'bob': 200, 'cindy': 300}

## Good GET Etiquette

Don't make a lot of requests to the same server all at once.
 - Requests use up the server's time
 - Major websites will often ban users who make too many requests
 - You can break a server....similar to DDoS attacks (DON'T DO THIS)
 
In CS220 we will usually give you a link to a copied file to avoid overloading the site.

### Explore real-world JSON

How to explore an unknown JSON?
- If you run into a `dict`, try `.keys()` method to look at the keys of the dictionary, then use lookup process to explore further
- If you run into a `list`, iterate over the list and print each item

### Weather for UW-Madison campus
- URL: https://api.weather.gov/gridpoints/MKX/37,63/forecast

In [19]:
# TODO: GET the forecast from the URL below. Then, explore the data we are working with!
url = "https://api.weather.gov/gridpoints/MKX/37,63/forecast"
r = requests.get(url)
r.raise_for_status()
weather_data = r.json()
print(type(weather_data))
# print(weather_data) #uncomment to see all the json

<class 'dict'>

In [20]:
# TODO: display the keys of the weather_data dict
print(list(weather_data.keys()))

# TODO: lookup the value corresponding to the 'properties'
weather_data["properties"]

# TODO: you know what to do next ... explore type again
print(type(weather_data["properties"]))

['@context', 'type', 'geometry', 'properties']
<class 'dict'>

In [21]:
# TODO: display the keys of the properties dict
print(list(weather_data["properties"].keys()))

# TODO: lookup the value corresponding to the 'periods'
# weather_data["properties"]["periods"] # uncomment to see the output

# TODO: you know what to do next ... explore type again
print(type(weather_data["properties"]["periods"]))

['updated', 'units', 'forecastGenerator', 'generatedAt', 'updateTime', 'validTimes', 'elevation', 'periods']
<class 'list'>

In [22]:
# TODO: extract periods list into a variable
periods_list = weather_data["properties"]["periods"]

# TODO: create a DataFrame using periods_list
# TODO: What does each inner data structure represent in your DataFrame?
#       Keep in mind that outer data structure is a list.
#       A. rows (because outer data structure is a list)
periods_df = DataFrame(periods_list)
periods_df

,number,name,startTime,endTime,isDaytime,temperature,temperatureUnit,temperatureTrend,probabilityOfPrecipitation,dewpoint,relativeHumidity,windSpeed,windDirection,icon,shortForecast,detailedForecast
0,1,Today,2023-11-15T06:00:00-06:00,2023-11-15T18:00:00-06:00,True,63,F,falling,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': 4.444444...","{'unitCode': 'wmoUnit:percent', 'value': 61}",5 to 10 mph,W,https://api.weather.gov/icons/land/day/few?siz...,Sunny,"Sunny. High near 63, with temperatures falling..."
1,2,Tonight,2023-11-15T18:00:00-06:00,2023-11-16T06:00:00-06:00,False,42,F,None,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': 4.444444...","{'unitCode': 'wmoUnit:percent', 'value': 89}",5 to 10 mph,S,https://api.weather.gov/icons/land/night/few?s...,Mostly Clear,"Mostly clear, with a low around 42. South wind..."
2,3,Thursday,2023-11-16T06:00:00-06:00,2023-11-16T18:00:00-06:00,True,65,F,None,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': 7.777777...","{'unitCode': 'wmoUnit:percent', 'value': 86}",10 to 20 mph,S,https://api.weather.gov/icons/land/day/sct?siz...,Mostly Sunny,"Mostly sunny, with a high near 65. South wind ..."
3,4,Thursday Night,2023-11-16T18:00:00-06:00,2023-11-17T06:00:00-06:00,False,37,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 30}","{'unitCode': 'wmoUnit:degC', 'value': 7.777777...","{'unitCode': 'wmoUnit:percent', 'value': 70}",15 to 25 mph,W,https://api.weather.gov/icons/land/night/rain_...,Chance Rain Showers,"A chance of rain showers. Mostly cloudy, with ..."
4,5,Friday,2023-11-17T06:00:00-06:00,2023-11-17T18:00:00-06:00,True,44,F,falling,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': -1.66666...","{'unitCode': 'wmoUnit:percent', 'value': 70}",10 to 15 mph,NW,https://api.weather.gov/icons/land/day/few?siz...,Sunny,"Sunny. High near 44, with temperatures falling..."
5,6,Friday Night,2023-11-17T18:00:00-06:00,2023-11-18T06:00:00-06:00,False,29,F,None,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': -5.55555...","{'unitCode': 'wmoUnit:percent', 'value': 69}",5 to 10 mph,W,https://api.weather.gov/icons/land/night/few?s...,Mostly Clear,"Mostly clear, with a low around 29. West wind ..."
6,7,Saturday,2023-11-18T06:00:00-06:00,2023-11-18T18:00:00-06:00,True,49,F,falling,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': -1.11111...","{'unitCode': 'wmoUnit:percent', 'value': 63}",10 to 15 mph,W,https://api.weather.gov/icons/land/day/few?siz...,Sunny,"Sunny. High near 49, with temperatures falling..."
7,8,Saturday Night,2023-11-18T18:00:00-06:00,2023-11-19T06:00:00-06:00,False,29,F,None,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': -0.55555...","{'unitCode': 'wmoUnit:percent', 'value': 92}",5 to 10 mph,NW,https://api.weather.gov/icons/land/night/few?s...,Mostly Clear,"Mostly clear, with a low around 29. Northwest ..."
8,9,Sunday,2023-11-19T06:00:00-06:00,2023-11-19T18:00:00-06:00,True,48,F,falling,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': 0.555555...","{'unitCode': 'wmoUnit:percent', 'value': 92}",5 mph,E,https://api.weather.gov/icons/land/day/few?siz...,Sunny,"Sunny. High near 48, with temperatures falling..."
9,10,Sunday Night,2023-11-19T18:00:00-06:00,2023-11-20T06:00:00-06:00,False,34,F,None,"{'unitCode': 'wmoUnit:percent', 'value': None}","{'unitCode': 'wmoUnit:degC', 'value': 0}","{'unitCode': 'wmoUnit:percent', 'value': 85}",5 to 10 mph,SE,https://api.weather.gov/icons/land/night/bkn?s...,Mostly Cloudy,"Mostly cloudy, with a low around 34."
10,11,Monday,2023-11-20T06:00:00-06:00,2023-11-20T18:00:00-06:00,True,46,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 30}","{'unitCode': 'wmoUnit:degC', 'value': 3.333333...","{'unitCode': 'wmoUnit:percent', 'value': 89}",10 mph,SE,https://api.weather.gov/icons/land/day/rain_sh...,Chance Rain Showers,"A chance of rain showers. Mostly cloudy, with ..."
11,12,Monday Night,2023-11-20T18:00:00-06:00,2023-11-21T06:00:00-06:00,False,36,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 50}","{'unitCode': 'wmoUnit:degC', 'value': 2.777777...","{'unitCode': 'wmoUnit:percent', 'value': 92}",10 to 15 mph,NE,https://api.weather.gov/icons/land/night/rain_...,Chance Rain Showers,"A chance of rain showers. Mostly cloudy, with ..."
12,13,Tuesday,2023-11-21T06:00:00-06:00,2023-11-21T18:00:00-06:00,True,43,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 30}","{'unitCode': 'wmoUnit:degC', 'value': 2.222222...","{'unitCode': 'wmoUnit:percent', 'value': 92}",15 mph,NW,https://api.weather.gov/icons/land/day/rain_sh...,Chance Rain Showers,"A chance of rain showers. Mostly cloudy, with ..."
13,14,Tuesday Night,2023-11-21T18:00:00-06:00,2023-11-22T06:00:00-06:00,False,28,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 20}","{'unitCode': 'wmoUnit:degC', 'value': 0}","{'unitCode': 'wmoUnit:percent', 'value': 82}",15 mph,NW,"https://api.weather.gov/icons/land/night/snow,...",Slight Chance Rain And Snow Showers,A slight chance of rain and snow showers. Most...

#### What are the maximum and minimum observed temperatures?

In [23]:
min_temp = periods_df["temperature"].min()
max_temp = periods_df["temperature"].max()

print("Min of {} degrees, max of {} degrees".format(min_temp, max_temp))

Min of 28 degrees, max of 65 degrees

#### Which days `detailedForecast` contains `rain`?

In [24]:
snow_days_df = periods_df[periods_df["detailedForecast"].str.contains("rain")]
snow_days_df

,number,name,startTime,endTime,isDaytime,temperature,temperatureUnit,temperatureTrend,probabilityOfPrecipitation,dewpoint,relativeHumidity,windSpeed,windDirection,icon,shortForecast,detailedForecast
3,4,Thursday Night,2023-11-16T18:00:00-06:00,2023-11-17T06:00:00-06:00,False,37,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 30}","{'unitCode': 'wmoUnit:degC', 'value': 7.777777...","{'unitCode': 'wmoUnit:percent', 'value': 70}",15 to 25 mph,W,https://api.weather.gov/icons/land/night/rain_...,Chance Rain Showers,"A chance of rain showers. Mostly cloudy, with ..."
10,11,Monday,2023-11-20T06:00:00-06:00,2023-11-20T18:00:00-06:00,True,46,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 30}","{'unitCode': 'wmoUnit:degC', 'value': 3.333333...","{'unitCode': 'wmoUnit:percent', 'value': 89}",10 mph,SE,https://api.weather.gov/icons/land/day/rain_sh...,Chance Rain Showers,"A chance of rain showers. Mostly cloudy, with ..."
11,12,Monday Night,2023-11-20T18:00:00-06:00,2023-11-21T06:00:00-06:00,False,36,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 50}","{'unitCode': 'wmoUnit:degC', 'value': 2.777777...","{'unitCode': 'wmoUnit:percent', 'value': 92}",10 to 15 mph,NE,https://api.weather.gov/icons/land/night/rain_...,Chance Rain Showers,"A chance of rain showers. Mostly cloudy, with ..."
12,13,Tuesday,2023-11-21T06:00:00-06:00,2023-11-21T18:00:00-06:00,True,43,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 30}","{'unitCode': 'wmoUnit:degC', 'value': 2.222222...","{'unitCode': 'wmoUnit:percent', 'value': 92}",15 mph,NW,https://api.weather.gov/icons/land/day/rain_sh...,Chance Rain Showers,"A chance of rain showers. Mostly cloudy, with ..."
13,14,Tuesday Night,2023-11-21T18:00:00-06:00,2023-11-22T06:00:00-06:00,False,28,F,None,"{'unitCode': 'wmoUnit:percent', 'value': 20}","{'unitCode': 'wmoUnit:degC', 'value': 0}","{'unitCode': 'wmoUnit:percent', 'value': 82}",15 mph,NW,"https://api.weather.gov/icons/land/night/snow,...",Slight Chance Rain And Snow Showers,A slight chance of rain and snow showers. Most...

#### Which day's `detailedForecast` has the most lengthy description?

In [25]:
idx_max_desc = periods_df["detailedForecast"].str.len().idxmax()
periods_df.loc[idx_max_desc]['name']

'Thursday Night'

#### ... and what was the forecast for that day?

In [26]:
periods_df.loc[idx_max_desc]['detailedForecast']

'A chance of rain showers. Mostly cloudy, with a low around 37. West wind 15 to 25 mph, with gusts as high as 35 mph. Chance of precipitation is 30%. New rainfall amounts less than a tenth of an inch possible.'

#### Of the days where the temperature is above freezing, what is the wind speed forecast?

In [27]:
winds = periods_df[periods_df["temperature"] > 32]["windSpeed"]
winds

0      5 to 10 mph
1      5 to 10 mph
2     10 to 20 mph
3     15 to 25 mph
4     10 to 15 mph
6     10 to 15 mph
8            5 mph
9      5 to 10 mph
10          10 mph
11    10 to 15 mph
12          15 mph
Name: windSpeed, dtype: object

#### ... and what was the maximum predicted wind speed?

In [28]:
better_winds = winds.str[:-4]
better_winds

0      5 to 10
1      5 to 10
2     10 to 20
3     15 to 25
4     10 to 15
6     10 to 15
8            5
9      5 to 10
10          10
11    10 to 15
12          15
Name: windSpeed, dtype: object

In [29]:
best_winds = better_winds.apply(lambda wind : int(wind) if " to " not in wind else int(wind.split(" to ")[1]))
best_winds.max()

25

### Write it out to a CSV file on your drive
You now have your own copy!

In [30]:
# Write it all out to a single CSV file
periods_df.to_csv("campus_weather.csv", index=False)

### Other Cool APIs

- City of Madison Transit: http://transitdata.cityofmadison.com/
- Reddit: https://reddit.com/r/UWMadison.json
- Lord of the Rings: https://the-one-api.dev/
- Pokemon: https://pokeapi.co/
- CS571: https://www.cs571.org/ (you have to be enrolled!)

Remember: Be judicious when making requests; don't overwhelm the server! :)

## Next Time
What other documents can we get via the Web? HTML is very popular! We'll explore this.