# Announcements - Friday, October 13

* Download ALL files from Canvas for today's lecture
* Worksheet is online only - great practice for the exam!
* Quiz 4 due Today at 11:59:00 pm
  * We release the answers after the quiz closes so we do not reopen quizzes for students even if something goes wrong.
  * We do drop 2 quiz scores (in case something goes wrong)
  
 ### Conflict Form
  * [Exam 2 - November 8, 5:45 pm](https://cs220.cs.wisc.edu/f23/surveys.html)
  * [Final - December 19, 7:45 am](https://cs220.cs.wisc.edu/f23/surveys.html)

# List Practice

In [1]:
import csv

### Warmup 1: min / max

In [2]:
some_list = [45, -4, 66, 220, 10]

min_val = None
for val in some_list:
    if min_val == None or val < min_val:
        min_val = val
    
print(min_val)

max_val = None
for val in some_list:
    if max_val == None or val > max_val:
        max_val = val
    
print(max_val)

-4
220

### Warmup 2: median

In [3]:
def median(some_items):
    """
    Returns median of a list passed as argument
    """
    some_items.sort()
    n = len(some_items)
    
    if n % 2 == 1:
        return some_items[n // 2] 
    else:
        first_middle = some_items[n//2 - 1]
        second_middle = some_items[n // 2]
        median = (first_middle + second_middle) / 2
        return median
    
nums = [5, 4, 3, 2, 1]
print("Median of", nums, "is" , median(nums))

nums = [6, 5, 4, 3, 2, 1]
print("Median of", nums, "is" , median(nums))

Median of [1, 2, 3, 4, 5] is 3
Median of [1, 2, 3, 4, 5, 6] is 3.5

In [4]:
vals = ["A", "C", "B"]
print("Median of", nums, "is" , median(vals))

vals = ["A", "C", "B", "D"]
# print("Median of", nums, "is" , median(vals)) # does not work due to TypeError

Median of [1, 2, 3, 4, 5, 6] is B

### set data structure

- **not a sequence**
- no ordering of values:
    - this implies that you can only store unique values within a `set`
- very helpful to find unique values stored in a `list`
    - easy to convert a `list` to `set` and vice-versa.
    - ordering is not guaranteed once we use `set`

In [5]:
some_set = {10, 20, 30, 30, 40, 50, 10} # use a pair of curly braces to define it
some_set

{10, 20, 30, 40, 50}

In [6]:
some_list = [10, 20, 30, 30, 40, 50, 10] # Initialize a list containing duplicate numbers

# TODO: to find unique values, convert it into a set
print(set(some_list))

# TODO: convert the set back into a list
print(list(set(some_list)))

{40, 10, 50, 20, 30}
[40, 10, 50, 20, 30]

Can you index / slice into a `set`?

In [7]:
# some_set[1] # doesn't work - remember set has no order

In [8]:
# some_set[1:] # doesn't work - remember set has no order

In [9]:
# inspired by https://automatetheboringstuff.com/2e/chapter16/
def process_csv(filename):
    # open the file, its a text file utf-8
    example_file = open(filename, encoding="utf-8")
    # prepare it for reading as a CSV object
    example_reader = csv.reader(example_file)
    # use the built-in list function to convert this into a list of lists
    example_data = list(example_reader)
    # close the file to tidy up our workspace
    example_file.close()
    # return the list of lists
    
    return example_data

### Student Information Survey data

In [10]:
# TODO: call the process_csv function and store the list of lists in cs220_csv
cs220_csv = process_csv("cs220_survey_data.csv")

In [11]:
# Store the header row into cs220_header, using indexing
cs220_header = cs220_csv[0]
cs220_header

['section',
 'Lecture',
 'Age',
 'Primary major',
 'Other Primary Major',
 'Other majors',
 'Zip Code',
 'Latitude',
 'Longitude',
 'Pizza topping',
 'Cats or dogs',
 'Runner',
 'Sleep habit',
 'Procrastinator',
 'Song']

In [12]:
# TODO: Store all of the data rows into cs220_data, using slicing
cs220_data = cs220_csv[1:]

# TODO: use slicing to display top 3 rows data
cs220_data[:3]

[['COMP SCI 220:LEC003, COMP SCI 220:LAB333',
  'LEC003',
  '19',
  'Other (please provide details below).',
  'Atmospheric and Oceanic Science',
  '',
  '53703',
  '44.256',
  '-88.409',
  'basil/spinach',
  'cat',
  'No',
  'early bird',
  'Yes',
  'Kanye'],
 ['COMP SCI 220:LAB344, COMP SCI 220:LEC004',
  'LEC004',
  '19',
  'Engineering: Biomedical',
  '',
  '',
  '53711',
  '51.5072',
  '-0.1257',
  'Other',
  'dog',
  'No',
  'night owl',
  'Yes',
  'Eyes Closed by Ed Sheeran\xa0'],
 ['COMP SCI 220:LAB342, COMP SCI 220:LEC004',
  'LEC004',
  '',
  'Computer Science',
  '',
  '',
  '53703',
  '37.7749',
  '-122.4194',
  'pineapple',
  'dog',
  'Yes',
  'night owl',
  'Yes',
  'Eight - IU']]

### What `Pizza topping` does the 13th student prefer?

In [13]:
cs220_data[12][6] # bad example: we hard-coded the column index

'53703'

What if we decided to add a new column before sleeping habit? Your code will no longer work.

Instead of hard-coding column index, you should use `index` method, to lookup column index from the header variable. This will also make your code so much readable.

In [14]:
cs220_data[12][cs220_header.index("Pizza topping")]

'pineapple'

### What is the Lecture of the 4th student?

In [15]:
cs220_data[3][cs220_header.index("Lecture")]

'LEC005'

### What **unique** `age` values are included in the dataset?

In [16]:
ages = []

for row in cs220_data:
    age = row[cs220_header.index("Age")]
    
    if age == '':
        continue
        
    age = int(age)
    if age < 0 or age > 118:
        continue
        
    ages.append(age)
    
ages = list(set(ages))
ages

[32, 39, 40, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

### cell function

- It would be very helpful to define a cell function, which can handle missing data and type conversions

In [17]:
def cell(row_idx, col_name):
    """
    Returns the data value (cell) corresponding to the row index and 
    the column name of a CSV file.
    """
    # TODO: get the index of col_name
    col_idx = cs220_header.index(col_name) 
    
    # TODO: get the value of cs220_data at the specified cell
    val = cs220_data[row_idx][col_idx]  
    
    # TODO: handle missing values, by returning None
    if val == '':
        return None
    
    # TODO: handle type conversions
    if col_name in ["Age", "Zip Code"]:
        return int(val)
    elif col_name in ['Latitude', 'Longitude']:
        return float(val)
    
    return val

### Find average age per lecture.

In [18]:
# TODO: initialize 5 lists for the 5 lectures
lec1_ages = []
lec2_ages = []
lec3_ages = []
lec4_ages = []
lec5_ages = []

# Iterate over the data and populate the lists

for row_idx in range(len(cs220_data)):
    age = cell(row_idx, "Age")
    
    if age != None and age > 0 and age < 125:
        lecture = cell(row_idx, "Lecture")
        if lecture == "LEC001":
            lec1_ages.append(age)
        elif lecture == "LEC002":
            lec2_ages.append(age)
        elif lecture == "LEC003":
            lec3_ages.append(age)
        elif lecture == "LEC004":
            lec4_ages.append(age)
        elif lecture == "LEC005":
            lec5_ages.append(age) 

# TODO: compute average age of each lecture
print("LEC001 average student age:", round(sum(lec1_ages) / len(lec1_ages), 2))
print("LEC002 average student age:", round(sum(lec2_ages) / len(lec2_ages), 2))
print("LEC003 average student age:", round(sum(lec3_ages) / len(lec3_ages), 2))
print("LEC004 average student age:", round(sum(lec4_ages) / len(lec4_ages), 2))
print("LEC005 average student age:", round(sum(lec5_ages) / len(lec5_ages), 2))

LEC001 average student age: 19.51
LEC002 average student age: 19.47
LEC003 average student age: 19.32
LEC004 average student age: 19.51
LEC005 average student age: 19.13

### Function `avg_age_per_lecture(lecture)`

In [19]:
def avg_age_per_lecture(lecture):
    '''
    avg_age_per_lecture(lecture) returns the average age of 
    the students in the given `lecture`; if there are no
    students in the given `lecture`, it returns `None`
    '''
    # To compute average you don't need to actually populate a list.
    # But here a list will come in handy. It will help you with the None return requirement.
    ages = []
    for row_idx in range(len(cs220_data)):
        curr_lecture = cell(row_idx, "Lecture")
        if lecture == curr_lecture:
            age = cell(row_idx, "Age")
            if age != None and age > 0 and age <= 125:
                ages.append(age)
                
    if len(ages) > 0:
        return sum(ages) / len(ages)
    else:
        return None

In [20]:
avg_age_per_lecture("LEC003")

19.320197044334975

In [21]:
print(avg_age_per_lecture("LEC007"))

None

### Find all unique zip codes.

In [22]:
# TODO: initialize list of keep track of zip codes
zip_codes = []

for row_idx in range(len(cs220_data)):
    zip_code = cell(row_idx, "Zip Code")
    
    if zip_code != None:
        zip_codes.append(zip_code)
        
list(set(zip_codes))

[55424,
 63105,
 35715,
 537061127,
 53129,
 28431,
 68114,
 53534,
 73506,
 53925,
 55337,
 20016,
 53558,
 53175,
 53560,
 53562,
 53818,
 53701,
 53702,
 53703,
 53704,
 54601,
 53706,
 53705,
 53708,
 53066,
 94024,
 53711,
 53707,
 53073,
 53713,
 53715,
 53716,
 53076,
 53718,
 53719,
 57303,
 53593,
 57306,
 53714,
 10075,
 53590,
 53726,
 53597,
 53216,
 53598,
 57315,
 57703,
 1000,
 53736,
 54636,
 1134,
 38258,
 2038,
 54143]

### `sort` method versus `sorted` function

- `sort` (and other list methods) have an impact on the original list
- `sorted` function returns a new list with expected ordering
- default sorting order is ascending / alphanumeric
- `reverse` parameter is applicable for both `sort` method and `sorted` function:
    - enables you to specify descending order by passing argument as `True`

In [23]:
some_list = [10, 4, 25, 2, -10]

In [24]:
# TODO: Invoke sort method
rv = some_list.sort()
print(some_list)

# What does the sort method return? 
# TODO: Capture return value into a variable rv and print the return value.
print(rv)

[-10, 2, 4, 10, 25]
None

`sort` method returns `None` because it sorts the values in the original list

In [25]:
# TODO: invoke sorted function and pass some_list as argument
# TODO: capture return value into sorted_some_list
sorted_some_list = sorted(some_list)

# What does the sorted function return? 
# It returns a brand new list with the values in sorted order
print(sorted_some_list)

[-10, 2, 4, 10, 25]

TODO: go back to `sort` method call and `sorted` function call and pass keyword argument `reverse = True`.

Can you call `sort` method on a set?

In [26]:
# some_set.sort() 
# doesn't work: no method named sort associated with type set
# you cannot sort a set because of the lack of ordering

Can you pass a `set` as argument to `sorted` function? Python is intelligent :)

In [27]:
# works because Python converts the set into a list and then sorts the list
sorted(some_set)

[10, 20, 30, 40, 50]

### Function: `find_majors(phrase)`

In [28]:
def find_majors(phrase):
    """
    find_majors(phrase) returns a list of all the majors that contain the 
    substring (case insensitive match) `phrase`.
    """
    # TODO: initialize the target list here
    majors = []
    
    # TODO: iterate over row indices
    for row_idx in range(len(cs220_data)):
        major = cell(row_idx, "Primary major")
        
        if phrase.lower() in major.lower():
            majors.append(major)
    
    return majors

### Find all  `major` that contain **either** `"Computer"` **or** `"Science"`.

Your output **must** be a *list*. The order **does not** matter, but if a `major` contains **both** `"Computer"` and `"Science"`, then the room must be included **only once** in your list.

In [29]:
computer_majors = find_majors("Computer")
science_majors = find_majors("Science")

computer_and_science_majors = computer_majors + science_majors
# TODO: Now find just the unique values
computer_and_science_majors = list(set(computer_and_science_majors))
computer_and_science_majors

['Science: Biology/Life',
 'Computer Science',
 'Science: Chemistry',
 'Science: Physics',
 'Science: Other',
 'Data Science']

### Order the `major` that contain **either** `"Computer"` **or** `"Science"` using ascending order.

In [30]:
# VERSION 1
# Be very careful: if you use sorted, make sure your return value 
# variable matches with the variable for that project question
sorted_computer_and_science_majors = sorted(computer_and_science_majors)
sorted_computer_and_science_majors

['Computer Science',
 'Data Science',
 'Science: Biology/Life',
 'Science: Chemistry',
 'Science: Other',
 'Science: Physics']

In [31]:
# VERSION 2
computer_and_science_majors.sort()
computer_and_science_majors

['Computer Science',
 'Data Science',
 'Science: Biology/Life',
 'Science: Chemistry',
 'Science: Other',
 'Science: Physics']

### Order the `major` that contain **either** `"Computer"` **or** `"Science"` using descending order.

In [32]:
# VERSION 1
# Be very careful: if you use sorted, make sure your return value 
# variable matches with the variable for that project question
reverse_sorted_computer_and_science_majors = sorted(computer_and_science_majors, reverse = True)
reverse_sorted_computer_and_science_majors

['Science: Physics',
 'Science: Other',
 'Science: Chemistry',
 'Science: Biology/Life',
 'Data Science',
 'Computer Science']

In [33]:
# VERSION 2
computer_and_science_majors.sort(reverse = True)
computer_and_science_majors

['Science: Physics',
 'Science: Other',
 'Science: Chemistry',
 'Science: Biology/Life',
 'Data Science',
 'Computer Science']

## Self-practice

### How many students are both a procrastinator and a pet owner?

### What percentage of 18-year-olds have their major declared as "Other"?

### How old is the oldest basil/spinach-loving Business major?