In [40]:
# Warmup #1: Take a look at these list methods 
# https://www.w3schools.com/python/python_ref_list.asp
dairy = ["milk", "ice cream", "cheese", "yogurt" ]

#use the .index() method to get the index of "ice cream"

dairy.index("ice cream")

1

In [41]:
# Warmup #2:  Because a list is a sequence, we can use the 'in' operator
food_shelf = ["peanut butter", "milk", "bread", "cheese", "YOGURT"]
for item in food_shelf:
    if item in dairy:
        print(item, "is dairy")
    else:
        print(item, "is not dairy")

peanut butter is not dairy
milk is dairy
bread is not dairy
cheese is dairy
YOGURT is not dairy

# Lecture 15: CSV Files


## Learning Objectives
After this lecture you will be able to...
- Open an Excel file and export it to a Comma Separated Value file.

- Open a CSV file in TextEditor/Jupyter and connect the elements of the CSV file to the rows and columns in the spreadsheet.

- Use pre-written Python code to read a CSV file into a list of lists.

- Write Python statements with double list indexing to access any element of a CSV file via a list of lists.

- Write code that answers questions about CSV data by writing for loops on lists of lists.

In [42]:
# Open the file of student survey data in Jupyter

# Then open it in Windows ... what program opened?

### Open a CSV file in TextEditor/Jupyter and connect the elements of the CSV file to the rows and columns in the spreadsheet.

In [43]:
# What do you notice?  Take notes here
#

## Use pre-written Python code to read a CSV file into a list of lists.

In [44]:


# inspired by https://automatetheboringstuff.com/chapter14/
import csv

def process_csv(filename):
    # open the file, its a text file utf-8
    exampleFile = open(filename, encoding="utf-8")  
    
    # prepare it for reading as a CSV object
    exampleReader = csv.reader(exampleFile) 
    
    # use the built-in list function to convert this into a list of lists
    exampleData = list(exampleReader)        
    
    # close the file to tidy up our workspace
    exampleFile.close()  
    
    # return the list of lists
    return exampleData

In [45]:
# Call the process_csv function and store the list of lists in cs220_csv
cs220_csv = process_csv('amfam_survey_data.csv')
cs220_csv[:3]

[['pizza topping',
  'state',
  'years',
  'sleep preference',
  'month',
  'pets',
  'lat-long'],
 ['mushroom',
  'Florida',
  '7',
  'early bird',
  'March',
  '',
  '30.263214888389417, -81.54792098150529'],
 ['pineapple',
  'Wisconsin',
  '4',
  'night owl',
  'April',
  'other',
  '43.1581437, -89.2921125']]

In [46]:
# Store the header row into cs220_header
cs220_header = cs220_csv[0]
cs220_header

['pizza topping',
 'state',
 'years',
 'sleep preference',
 'month',
 'pets',
 'lat-long']

In [47]:
# Store all of the data rows into cs220_data
cs220_data = cs220_csv[1:]
cs220_data

[['mushroom',
  'Florida',
  '7',
  'early bird',
  'March',
  '',
  '30.263214888389417, -81.54792098150529'],
 ['pineapple',
  'Wisconsin',
  '4',
  'night owl',
  'April',
  'other',
  '43.1581437, -89.2921125'],
 ['sausage',
  'Wisconsin',
  '10',
  'early bird',
  'July',
  'other',
  '43.15645, -89.28814'],
 ['pepperoni',
  'WI',
  '7',
  'no preference',
  'September',
  'dog,cat',
  '43.073051, -89.401230'],
 ['mushroom', 'madison', '7', 'early bird', 'November', '', ''],
 ['pepperoni',
  'FL',
  '1',
  'no preference',
  'December',
  'dog',
  '42.35623761108948, -71.05691488946681'],
 ['pepperoni',
  'Wisconsin',
  '2',
  'night owl',
  'February',
  '',
  '43.159045128642774, -89.29146323507756'],
 ['mushroom',
  'Florida',
  '0.5',
  'night owl',
  'May',
  'other',
  '43.160601, -89.287671'],
 ['mushroom',
  'Wisconsin',
  '10',
  'no preference',
  'January',
  'dog,fish',
  '43.1562216,-89.2880086'],
 ['pineapple',
  'Wisconsin',
  '8',
  'night owl',
  'July',
  'dog',
  '43.158655, -89.289895'],
 ['sausage',
  'Minnesota',
  '15',
  'no preference',
  'August',
  'dog,cat',
  '45.13881645889933, -93.47636590830673'],
 ['pepperoni',
  'New Jersey',
  '1',
  'night owl',
  'May',
  'other',
  '43.07148896663423, -89.40567798752735'],
 ['basil',
  'Rhode Island',
  '1',
  'night owl',
  'March',
  'dog',
  '43.156490793353775, -89.28796434617352'],
 ['mushroom', 'TX', '1', 'no preference', 'January', 'dog', ''],
 ['pineapple',
  'Florida',
  '3',
  'early bird',
  'July',
  'other',
  '27.979191147972834, -82.33356380365498'],
 ['sausage',
  'Wisconsin',
  '0',
  'early bird',
  'December',
  'dog,cat',
  '43.15631441766965, -89.28785659081201'],
 ['pineapple',
  'Wisconsin',
  '6',
  'no preference',
  'June',
  'dog',
  '43.157716440341964, -89.28939262164963'],
 ['mushroom',
  'Florida',
  '7',
  'no preference',
  'July',
  'other',
  '30.053546, -81.514610'],
 ['sausage',
  'Florida',
  '3',
  'early bird',
  'January',
  'dog,fish',
  '30.263357, -81.547884'],
 ['mac&cheese',
  'Wisconsin',
  '5',
  'night owl',
  'July',
  'dog',
  '43.158328032172754, -89.28946714938327'],
 ['pepperoni',
  'Wisconsin',
  '10',
  'early bird',
  'April',
  'other',
  '43.1884213,-89.2762121'],
 ['other',
  'Wisconsin',
  '10',
  'early bird',
  'August',
  'other',
  '43.15833, -89.28988'],
 ['sausage',
  'WI',
  '14',
  'night owl',
  'September',
  'dog,cat',
  '43.15733597381252, -89.29013010509833'],
 ['sausage',
  'Wisconsin',
  '6',
  'no preference',
  'August',
  'dog,cat',
  '43.159061371631616, -89.29141118826759'],
 ['pepperoni',
  'Wisconsin',
  '8',
  'early bird',
  'September',
  'dog,cat,fish',
  '43.158359 -89.289972'],
 ['pineapple',
  'Florida',
  '8',
  'night owl',
  'October',
  '',
  '30.263432655702932, -81.54807118535949'],
 ['pineapple',
  'TX',
  '4',
  'night owl',
  'October',
  'dog',
  '42.3558293029345, -71.05683171712127'],
 ['other', 'WI', '2', 'early bird', 'June', '', ''],
 ['mushroom',
  'Wisconsin',
  '20',
  'early bird',
  'September',
  'dog',
  '43.15826500058843, -89.28945716165009'],
 ['sausage',
  'Wisconsin',
  '8',
  'night owl',
  'June',
  'dog',
  '43.15839022178169, -89.28998287477457'],
 ['sausage',
  'Wisconsin',
  '20',
  'night owl',
  'April',
  'bird',
  '43.15648555750267, -89.28783647996661'],
 ['pineapple', 'Texas', '0.5', 'early bird', 'August', 'other', '43, 89']]

## CSVs as a List of Lists

In [48]:
# Determine how many students completed the survey.
len(cs220_data)

32

In [49]:
# show the entire 1st row of actual data
cs220_data[0]

['mushroom',
 'Florida',
 '7',
 'early bird',
 'March',
 '',
 '30.263214888389417, -81.54792098150529']

In [51]:
# Find the pizza topping for the 2nd student...by hardcoding its row and column....
cs220_data[1][0]

'pineapple'

In [52]:
# Find the lat-long of the 4th student...by hardcoding its row and column....
cs220_data[3][-1]

'43.073051, -89.401230'

In [53]:
# Print out every student's sleep habit and pets
# use for 
for row in cs220_data:
    current_sleep_habit = row[cs220_header.index("sleep preference")]
    pets = row[cs220_header.index("pets")]
    print(current_sleep_habit + '\t\t' + pets)

early bird
night owl		other
early bird		other
no preference		dog,cat
early bird
no preference		dog
night owl
night owl		other
no preference		dog,fish
night owl		dog
no preference		dog,cat
night owl		other
night owl		dog
no preference		dog
early bird		other
early bird		dog,cat
no preference		dog
no preference		other
early bird		dog,fish
night owl		dog
early bird		other
early bird		other
night owl		dog,cat
no preference		dog,cat
early bird		dog,cat,fish
night owl
night owl		dog
early bird
early bird		dog
night owl		dog
night owl		bird
early bird		other

In [54]:
# Find the average years of people who do not live in Wisconsin
total_years = 0
count = 0
for row in cs220_data:
    years = float(row[cs220_header.index("years")])
    state = (row[cs220_header.index("state")])
    if state not in ["Wisconsin", "WI", "madison"]:
        total_years += years
        count += 1
        print(state, years)
avg = total_years / count
avg

Florida 7.0
FL 1.0
Florida 0.5
Minnesota 15.0
New Jersey 1.0
Rhode Island 1.0
TX 1.0
Florida 3.0
Florida 7.0
Florida 3.0
Florida 8.0
TX 4.0
Texas 0.5

4.0

## It would be nice to have a helper function!
A function that easily accesses a `cell`

In [55]:
# How do we get the names of all the columns?
cs220_header

['pizza topping',
 'state',
 'years',
 'sleep preference',
 'month',
 'pets',
 'lat-long']

In [56]:
# Get the column index of "Pizza topping"
cs220_header.index("pizza topping")

0

In [57]:
# We want to invoke something like...
# cell(24, <colName>)
def cell_v1(row_idx, col_name):
    col_idx = cs220_header.index(col_name) # get the index of col_name
    val = cs220_data[row_idx][col_idx]     # get the value of cs220_data at the specified cell
    return val

In [58]:
# Print out the state of the 4th student... using the cell function
cell_v1(3, "state")

'WI'

In [59]:
# Redo above probllem cell function
# Find the average years of people who do not live in Wisconsin
total_years = 0
count = 0
for i in range(len(cs220_data)):
    years = float(cell_v1(i, "years"))
    state = cell_v1(i, "state")
    if state not in ["Wisconsin", "WI", "madison"]:
        total_years += years
        count += 1
        print(state, years)
avg = total_years / count
avg

Florida 7.0
FL 1.0
Florida 0.5
Minnesota 15.0
New Jersey 1.0
Rhode Island 1.0
TX 1.0
Florida 3.0
Florida 7.0
Florida 3.0
Florida 8.0
TX 4.0
Texas 0.5

4.0

In [60]:
# redo ....  using the cell function
cs220_header

['pizza topping',
 'state',
 'years',
 'sleep preference',
 'month',
 'pets',
 'lat-long']

In [61]:
# Improve the cell function so it returns the appropriate type.
# If there is nothing in the cell, return None
# otherwise, use the col_name to convert to the expected type
def cell(row_idx, col_name):
    col_idx = cs220_header.index(col_name) # get the index of col_name
    val = cs220_data[row_idx][col_idx]     # get the value of cs220_data at the specified cell
    if col_idx == 2:
        return float(val)
    else:
        return val

In [62]:
# # redo again using the improved cell function
cell(2, "lat-long")

'43.15645, -89.28814'

## Practice problems

In [ ]:
# What percentage of students chose a non-meat pizza topping?

In [ ]:
# What do you want to find out ?  Try it out on your own