In [ ]:
# known import statements
import pandas as pd
import sqlite3 as sql # note that we are renaming to sql
import os

# new import statement
import numpy as np

# Lecture 35 Pandas 3: Data Transformation
* Data transformation is the process of changing the format, structure, or values of data. 
* Often needed during data cleaning and sometimes during data analysis

# Today's Learning Objectives: 

* Setting column as index for pandas `DataFrame`
* Identify, drop, or fill missing values (`np.NaN`) using Pandas `isna`, `dropna`, and `fillna`
* Applying transformations to `DataFrame`:
  * Use `apply` on pandas `Series` to apply a transformation function
  * Use `replace` to replace all target values in Pandas `Series` and `DataFrame` rows / columns
* Filter, aggregate, group, and summarize information in a `DataFrame` with `groupby`
* Convert .groupby examples to SQL
* Solving the same question using SQL and pandas `DataFrame` manipulations:
  * filtering, grouping, and aggregation / summarization

# The dataset: Spotify songs
Adapted from https://www.kaggle.com/datasets/mrmorj/dataset-of-songs-in-spotify.

If you are interested in digging deeper in this dataset, here's a [blog post](https://medium.com/@boplantinga/what-do-spotifys-audio-features-tell-us-about-this-year-s-eurovision-song-contest-66ad188e112a) that explain each column in details.

### WARMUP 1: Establish a connection to the spotify.db database

In [ ]:
# open up the spotify database
db_pathname = "spotify.db"
assert ???
conn = sql.connect(db_pathname)

In [ ]:
def qry(sql):
    return pd.read_sql(sql, conn)

### WARMUP 2: Identify the table name(s) inside the database

In [ ]:
df = qry("")
df

### WARMUP 3: Use pandas lookup expression to extract the "sql" column and display the full query using .iloc lookup

In [ ]:
print()

### WARMUP 4: Store the data inside `spotify` table inside a variable called `df`

In [ ]:
df = qry("")
df

### Setting a column as row indices for the `DataFrame`

- Syntax: `df.set_index("<COLUMN>")`
- Returns a new DataFrame object instance reference.
- WARNING: executing this twice will result in `KeyError` being thrown. Once you set a column as row index, it will no longer be a column within the `DataFrame`. If you tried this, go back and execute the above cell and update `df` once more and then execute the below cell exactly once.

In [ ]:
# Set the id column as row indices
df = 
df

### Not a Number

- `np.NaN` is the floating point representation of Not a Number
- You do not need to know / learn the details about the `numpy` package 

### Replacing / modifying values within the `DataFrame`

Syntax: `df.replace(<TARGET>, <REPLACE>)`
- Your target can be `str`, `int`, `float`, `None` (there are other possiblities, but those are too advanced for this course)
- Returns a new DataFrame object instance reference.

Let's now replace the missing values (empty strings) with `np.NAN`

In [ ]:
df = 
df.head(10) # title is the album name

### Checking for missing values

Syntax: `Series.isna()`
- Returns a boolean Series

Let's check if any of the "song_name"(s) are missing

In [ ]:
df["song_name"]

### Review: `Pandas.Series.value_counts()`
- Returns a new `Series` with unique values from the original `Series` as keys and the count of those unique values as values. 
- Return value `Series` is ordered using descending order of counts

In [ ]:
# count the number of missing values for song name
df["song_name"]

### Missing value manipulation
Syntax: `df.fillna(<REPLACE>)`
- Returns a new DataFrame object instance reference.

In [ ]:
# use .fillna to replace missing values
df["song_name"]

# to replace the original DataFrame's column, you need to explicitly update that object instance
# TODO: uncomment the below lines and update the code
#df["song_name"] = ???
#df

### Dropping missing values
Syntax: `df.dropna()`
- Returns a new DataFrame object instance reference.

In [ ]:
# .dropna will drop all rows that contain NaN in them
df.dropna()

### Review: `Pandas.Series.apply(...)`
Syntax: `Series.apply(<FUNCTION OBJECT REFERENCE>)`
- applies input function to every element of the Series.
- Returns a new `Series` object instance reference.

Let's apply transformation function to `mode` column `Series`:
- mode = 1 means major modality (sounds happy)
- mode = 0 means minor modality (sounds sad)

In [ ]:
def replace_mode(m): 
    if m == 1: 
        return "major"
    else: 
        return "minor"

In [ ]:
df["mode"]

### `lambda`

Let's write a `lambda` function instead of the `replace_mode` function

In [ ]:
df["mode"].apply(???)

Typically transformed columns are added as new columns within the DataFrame.
Let's add a new `modified_mode` column.

In [ ]:
df["modified_mode"] = df["mode"].apply(lambda m: "major" if m == 1 else "minor")
df

#### Let's go back to the original table from the SQL database

In [ ]:
df = qry("SELECT * FROM spotify")
df

Extract just the "genre" and "duration_ms" columns from `df`.

In [ ]:
df[???]

### `Pandas.DataFrame.groupby(...)`

Syntax: `DataFrame.groupby(<COLUMN>)`
- Returns a `groupby` object instance reference
- Need to apply aggregation methods to use the return value of `groupby`

In [ ]:
df[["genre", "duration_ms"]]

### What is the average duration for each genre ordered based on decreasing order of averages?
#### v1: using `df` (`pandas`) to answer the question

In [ ]:
df[["genre", "duration_ms"]]

In [ ]:
df[["genre", "duration_ms"]]

One way to check whether `groupby` works would be to use `value_counts` on the same column `Series`.

In [ ]:
df["genre"].value_counts()

### What is the average duration for each genre ordered based on decreasing order of averages?
#### v2: using SQL query to answer the question

In [ ]:
# SQL equivalent query of the above Pandas query
avg_duration_per_genre = qry("""

""")

# How can we get make the SQL query output to be exactly same as df.groupby?
avg_duration_per_genre = avg_duration_per_genre.set_index("genre")
avg_duration_per_genre

### What is the average speechiness for each mode, time signature pair?
#### v1: pandas

In [ ]:
# use a list to indicate all the columns you want to groupby

In [ ]:
# SQL equivalent query of the above Pandas query
qry("""

""")

### Self-practice

### Which songs have a tempo greater than 150 and what are their genre?

In [ ]:
# v1: pandas
fast_songs =

In [ ]:
# v2: SQL

qry("""

""")

### What is the sum of danceability and liveness for "Hiphop" genre songs?

In [ ]:
# v1: pandas
hiphop_songs =

In [ ]:
# v2: SQL
hiphop_songs = qry("""

""")
hiphop_songs

### Find all song_name ordered by ascending order of duration_ms. Eliminate songs which don't have a song_name

In [ ]:
# v1: pandas
songs_by_duration =

In [ ]:
# v2
songs_by_duration = qry("""

""")
songs_by_duration

### How many distinct "genre"s are there in the dataset?

In [ ]:
# v1: pandas

In [ ]:
# v2: SQL
genres = qry("""

""")

### Considering only songs with energy greater than 0.5, what is the maximum energy for each "genre" with song count greater than 2000?

In [ ]:
genre_groups =

In [ ]:
# v1: pandas
high_energy_songs = ???
genre_groups = ???
max_energy = ???
max_energy["energy"]

In [ ]:
genre_counts = ???
genre_counts["energy_max"] = max_energy["energy"]
filtered_genre_counts = ???
filtered_genre_counts

In [ ]:
# v2: SQL
qry("""

""")

In [ ]:
# Close the database connection here